 <!DOCTYPE html>
<html>
<head>
<title>รายรับรายจ่าย</title>
</head>
<body>

<h1>บัญชีรายรับรายจ่าย</h1>
<table border=1 style="width:80%">
 <tr>
    <th>วันที่</th>
    <th>รายการ</th>
    <th>รายรับ</th>
    <th>รายจ่าย</th>
    <th>คงเหลือ</th>
  </tr>

  {% for i in "9876543210" %}
    <tr>
        <td> time</td>
        <td> รายการ {{i}}</td>
        <td> - </td>
        <td> - </td>
        <td> - </td>

    </tr>
{% endfor %}
</table>
<br>
<table style="width:80%">
<td align="left"> <a href="url">LEFT </a></td>
<td align="right"><a href="url">RIGHT</a></td>
</table>
<br>
<table border=1 style="width:80%">
    <tr>
        <th> รายการ </th>
        <th> รับ</th>
        <th> จ่าย</th>
        <th> จำนวนเงิน</th>
        <th> วันที่(ถ้าต้องการเปลี่ยน)</th>
        <th> เพิ่ม</th>
    </tr>
    <form><tr>
        <th> <input type="text" name="list"> </th>
        <th> <input type="radio" name="gender" value="A"> </th>
        <th> <input type="radio" name="gender" value="B"> </th>
        <th> <input type="text" name="many"> </th>
        <td>  </td>
        <th> <input type="submit" value="Submit"> </th>
    </tr></form>
</table>

</body>
</html>
