{% load static %}
 <!DOCTYPE html>
<html>
<head>
<title>รายรับรายจ่าย</title>
<link rel="stylesheet" type="text/css" href="{% static 'savemoney/style.css' %}" />

</head>
<body>

<h1>บัญชีรายรับรายจ่าย</h1>


{% if latest_detail_list %}
	<table class="table1" >
	<tr>
	    <th width="20%">วันที่</th>
	    <th>รายการ</th>
	    <th width="15%">รายรับ</th>
	    <th width="15%">รายจ่าย</th>
	</tr>

    {% for SaveMoney in latest_detail_list %}
    <tr>
    	<td>{{SaveMoney.dateTime}}</td>
        <td>{{ SaveMoney.detail }}</td>
        {% if SaveMoney.money >= 0 %}
        	<div class="income"><td><font color="green">{{SaveMoney.money}}</font></td>
        	<td></td></div>
        {% else %}
        	<div class="out"><td></td>
        	<td><font color="red">{{SaveMoney.get_abs}}</font></td></div>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    <table class="total">
    	<tr ><td >Total : {{total}}</td></tr>
    </table>
{% else %}
    <p>No Detail</p>
{% endif %}
<br>
<table class="changePage">
{% if page > 1 %}

		<th class="left"><a href="{% url 'SaveMoney:newerPage' page %}">Newer</a></th>

{% endif %}

{% if page < lastPage %}

		<th class="right"><a href="{% url 'SaveMoney:olderPage' page %}">Older </a></th>

{% endif %}
</table>
<br>
<br>
<table class="saveDetail">
    <tr>
        <th> รายการ </th>
        <th> รับ</th>
        <th> จ่าย</th>
        <th> จำนวนเงิน</th>
        <th> วันที่</th>
        <th> เพิ่ม</th>
    </tr>
    <form action="{% url 'SaveMoney:save' %}" method="post" target="_self">
{% csrf_token %}
    <tr>
        <td><input type="text" name="detail"> </td>
        <td> <input type="radio" name="moneyType" value="income"> </td>
        <td> <input type="radio" name="moneyType" value="out"> </td>
        <td> <input type="number" name="moneyValue"> </td>
        <td>  </td>
        <td> <input type="submit" value="Submit"> </td>
    </tr></form>
</table>
<br>
<div class="saveCSVFile"><a href="{% url 'SaveMoney:saveCSVFile' %}">Download CSV File</a></div>
</body>
</html>
